/*---------------------------------------------------*/
/* Fonts section */
/*---------------------------------------------------*/
@font-face {
  font-family: 'TheanoModernRegular';
  src: url('fonts/TheanoModern-Regular-webfont.eot');
  src: url('fonts/TheanoModern-Regular-webfont.woff') format('woff'), 
       url('fonts/TheanoModern-Regular-webfont.ttf') format('truetype'), 
       url('fonts/TheanoModern-Regular-webfont.svg#webfontObn1Betk') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Chunk';
  src: url('fonts/chunkfive-webfont.eot');
  src: local('?'), url('fonts/chunkfive-webfont.woff') format('woff'), 
       url('fonts/chunkfive-webfont.ttf') format('truetype'), 
       url('fonts/chunkfive-webfont.svg#webfontAzRiHJA9') format('svg');
  font-weight: normal;
  font-style: normal;
}


/*---------------------------------------------------*/
/* clearfix */
/*---------------------------------------------------*/
.clearfix {
  clear: both;
}

.clearfix:after,
.clearfix:before {
  content: "";
  display: block;
  clear: both;
}

/*---------------------------------------------------*/
/* Main Styles */
/*---------------------------------------------------*/

html {
  box-sizing: border-box;
  font-size:16px;
}

*, *:before, *:after {
  box-sizing:inherit ;
}

body {
  color: #000;
  font-family: TheanoModernRegular, Georgia, Times, serif;
  background:url(images/greynoise.jpg) fixed;
}

section {
  width: 970px;
  border-bottom: 1px solid black;
}

section h3 {
  margin-bottom: 35px;
  font-size: 1.7rem;
  font-weight: 300;
}

.sub-section {
  padding: 20px 0 30px 0;
}

#wrapper {
  width: 970px;
  margin: 0 auto;
}

.section-number {
  display: inline-block;
  height: 60px;
  width: 60px;
  padding: 10px 0 0 0;
  border-radius: 30px;
  background: #000;
  color: #fff;
  text-align: center;
}



/*---------------------------------------------------*/
/* header section */
/*---------------------------------------------------*/

header {
  width: 970px;
  height: 200px;
  border-bottom: solid 1px #000;
}

header h2 {
  display: inline-block;
  height: 180px;
  width: 150px;
  background: dodgerblue;
  color: #fff;
  position: relative;
}

h2 span {
  position: absolute;
  bottom: 2px;
  right: 2px;
}

header h1 {
  font-family: 'Chunk';
  font-size: 5rem;
  float: right;
  margin-top: 60px;
}

.intro {
  border-bottom: solid 1px #000;
}

.intro p {
  margin: 30px auto;
  column-count: 2;
  column-gap: 45px;
  column-rule: 1px solid #000;
}

/*---------------------------------------------------*/
/* Genre section */
/*---------------------------------------------------*/

#genre {
  width: 100%;
  height: 200px;
  display: block;
}

#genre li {
  height: 100%;
  display: inline-block;
}

#genre li:nth-of-type(1) {
  width: 44%;
  background: url(images/orangenoise.jpg);
}

#genre li:nth-of-type(2) {
  width: 35%;
  background: url(images/bluenoise.jpg);
}

#genre li:nth-of-type(3) {
  width: 10%;
  background: url(images/greennoise.jpg);
}

#genre li:nth-of-type(4) {
  width: 9%;
  background: url(images/yellownoise.jpg);
}

#genre li:nth-of-type(5) {
  width: 2%;
  background: url(images/pinknoise.jpg);
}

.genre {
  width: 100%;
  margin-top: 30px;
}

.genre li {
  display: inline-block;
}

.genre li:before {
  display:inline-block;
  content: "";
  height: 30px;
  width: 30px;
  margin: 0 10px 0 10px;
  border-radius: 30px;
  vertical-align: middle;
}

.genre li:nth-of-type(1):before {
  margin-right: 10px;
  background: url(images/orangenoise.jpg);
}

.genre li:nth-of-type(2):before {
  background: url(images/bluenoise.jpg);
}

.genre li:nth-of-type(3):before {
  background: url(images/greennoise.jpg);
}

.genre li:nth-of-type(4):before {
  background: url(images/yellownoise.jpg);
}

.genre li:nth-of-type(5):before {
  background: url(images/pinknoise.jpg);
}


/*---------------------------------------------------*/
/* Non-Fiction section */
/*---------------------------------------------------*/
.non-fiction li {
  height: 50px;
  margin: 12px 0;
  position: relative;
}

.non-fiction span {
  display: inline-block;
  position: absolute;
  top: 20px;
  left: 100%;
  margin-left: 20px;
  white-space: nowrap;
}

.non-fiction li:nth-of-type(1) {
  width: 80%;
  background: url(images/orangenoise.jpg);
}

.non-fiction li:nth-of-type(2) {
  width: 40%;
  background: url(images/bluenoise.jpg);
}

.non-fiction li:nth-of-type(3) {
  width: 25%;
  background: url(images/greennoise.jpg);
}

.non-fiction li:nth-of-type(4) {
  width: 15%;
  background: url(images/yellownoise.jpg);
}

.non-fiction li:nth-of-type(5) {
  width: 13%;
  background: url(images/pinknoise.jpg);
}

.non-fiction li:nth-of-type(6) {
  width: 8%;
  background: url(images/rednoise.jpg);
}

.non-fiction li:nth-of-type(7) {
  width: 2%;
  background: url(images/purplenoise.jpg);
}

.non-fiction li:nth-of-type(8) {
  width: 1%;
  background: url(images/brownnoise.jpg);
}


/*---------------------------------------------------*/
/* Pages Read section */
/*---------------------------------------------------*/

.pages li,
.years li {
  display: inline-block;
  width: 90px;
  padding-top: 10px;
  margin: 0 15px;
  vertical-align: bottom;
}

.pages,
.years {
  text-align: center;
}


.pages li:nth-of-type(1) {
  height: 200px;
  background: url(images/orangenoise.jpg);
}

.pages li:nth-of-type(2) {
  height: 250px;
  background: url(images/bluenoise.jpg);
}

.pages li:nth-of-type(3) {
  height: 125px;
  background: url(images/greennoise.jpg);
}

.pages li:nth-of-type(4) {
  height: 300px;
  background: url(images/yellownoise.jpg);
}

.pages li:nth-of-type(5) {
  height: 350px;
  background: url(images/pinknoise.jpg);
}

.pages li:nth-of-type(6) {
  height: 175px;
  background: url(images/rednoise.jpg);
}


/*---------------------------------------------------*/
/* Pages Read section */
/*---------------------------------------------------*/

.dates li {
  display: inline-block;
  border-radius: 50%;
  text-align: center;
  font-weight: bold;
  float: left;
}

.dates li:nth-of-type(1) {
  height: 550px;
  width: 550px;
  padding-top: 250px;
  font-size: 2rem;
  background: url(images/pinknoise.jpg);
}

.dates li:nth-of-type(2) {
  height: 350px;
  width: 350px;
  padding-top: 150px;
  font-size: 1.75rem;
  background: url(images/bluenoise.jpg);
}

.dates li:nth-of-type(3) {
  height: 60px;
  width: 60px;
  padding-top: 5px;
  font-size: 0.8;
  background: url(images/greennoise.jpg);
}







